@import url('https://fonts.googleapis.com/css?family=Modak|Righteous&display=swap');

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row.welcome{
	height: 100vh;
	background-image: linear-gradient(rgb(168,24,48),rgb(240,192,96) 70%,rgb(255,255,255));
}


.mainBox{
	 position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
	font-family: Righteous, Sans-Serif;
	text-align: center;
	background-color: rgb(168,24,48);
	padding: 50px;
	color: rgb(240,192,96);
}

.btn{
	background-color: rgb(240,192,96);
	color: rgb(168,24,48);
}

